extends layout

block content
  h1= title
  div#rt-show
    div#rt-temp-layer.rt-layer
      span#rt-temp-label 温度
      span#rt-temp 21℃
    div#rt-humidity-layer.rt-layer
      span#rt-humidity-label 湿度
      span#rt-humidity 34%
    div#rt-time-layer
      span 数据更新时间：
      span#rt-time 05-24 10:10:01
  div#chart1.chart
    svg(width='100%', height='100%')
  script.
    moment.tz.setDefault('Asia/Shanghai')
    var line = d3_shape.line();
    var allData = [];
    var intvRtRefresh;

    $(function () {
        //
        intvRtRefresh = setInterval(function () {
            $.get('/api/getSensorData', function (data) {
                if (allData.length && allData[allData.length - 1].time == data.time) {
                    return;
                }
                $('#rt-temp').text(data.temperature + '℃');
                $('#rt-humidity').text(data.humidity + '%');
                $('#rt-time').text(moment(data.time).format('MM-DD HH:mm:ss'));
                allData.push(data);
                if (allData.length > 9) {
                    allData = allData.slice(-9);
                }
                drawChart();
            });
        }, 1000);

    });
    let drawChart = function () {
        // draw chart
        var width = 840, height = 300;
        var padding = { top: 50, right: 50, bottom: 50, left: 50 };
        $('#chart1 svg').empty();

        var main = d3.select('#chart1 svg').append('g')
            .attr('class', 'main')
            .attr('transform', 'translate(' + padding.top + ',' + padding.left + ')');

        var xScale = d3.time.scale()
            .domain(d3.extent(allData, function (d) {
                return new Date(d.time);
            }))
            .range([0, width]);

        var yScale = d3.scale.linear()
            .domain([Math.min(26, d3.min(allData, d => d.temperature)), 32])
            .range([height, 0]);

        var hScale = d3.scale.linear()
            .domain([40, Math.max(52, 2 + d3.max(allData, d => d.humidity))])
            .range([height, 0]);

        var xAxis = d3.svg.axis()
            .scale(xScale)
            .orient('bottom')
            .tickFormat(d3.time.format('%H:%M:%S'));

        var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient('left');

        var hAxis = d3.svg.axis()
            .scale(hScale)
            .orient('right')
            .ticks(5);

        main.append('g')
            .attr('class', 'x axis')
            .attr('transform', 'translate(0, ' + height + ')')
            .call(xAxis)
            .append('text')
            .text('时间')
            .attr('transform', 'translate(5, -10)');

        main.append('g')
            .attr('class', 'y axis')
            .call(yAxis)
            .append('text')
            .text('温度/℃')
            .attr('fill', 'orange')
            .attr('transform', 'translate(-10, -10)');

        main.append('g')
            .attr('class', 'h axis')
            .attr('transform', 'translate(' + width + ', 0)')
            .call(hAxis)
            .append('text')
            .text('湿度/%')
            .attr('fill', 'steelblue')
            .attr('transform', 'translate(-10, -10)');

        var line = d3.svg.line()
            .x(function (d, i) {
                let ret = xScale(new Date(d.time));
                return ret;
            })
            .y(function (d) {
                let ret = yScale(d.temperature);
                return ret;
            })
            .interpolate('monotone');
        main.append('path')
            .attr('class', 'line')
            .attr('d', line(allData));

        var line_h = d3.svg.line()
            .x(function (d) {
                let ret = xScale(new Date(d.time));
                return ret;
            })
            .y(function (d) {
                return hScale(d.humidity);
            })
            .interpolate('monotone');
        main.append('path')
            .attr('class', 'line-h')
            .attr('d', line_h(allData));

        main.selectAll('.linecircle')
            .data(allData)
            .enter()
            .append('g')
            .append('circle')
            .attr('class', 'linecircle')
            .attr('cx', line.x())
            .attr('cy', line.y())
            .attr('r', 3.5);

        main.selectAll('.linecircle-h')
            .data(allData)
            .enter()
            .append('g')
            .append('circle')
            .attr('class', 'linecircle-h')
            .attr('cx', line_h.x())
            .attr('cy', line_h.y())
            .attr('r', 3.5);
    };
