doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sheet.css')
    script(src='/scripts/jquery-2.2.4.js')
    script(src='/scripts/d3.min.js')
    script(src='/scripts/d3-shape.min.js')
    script(src='/scripts/moment.min.js')
    script(src='/scripts/moment-timezone.min.js')
  body
    block content
