svg, g {
  pointer-events: all;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.title {
  text-anchor: middle;
  font-weight: 700;
}


/*.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: orange;
  stroke-width: 1.5px;
}
.line-h {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.linecircle {
  fill: red;
}
.linecircle-h {
  fill: green;
}
.linecircle:hover {
  fill: steelblue;
}
.flag {
  stroke: gray;
  stroke-dasharray: 5;
  stroke-width: 1.5;
  display: none;
  pointer-events: none;
}
.tips {
  pointer-events: none;
  display: none;
}
.tips-border {
  fill: #F3E4E4;
  stroke: gray;        
  stroke-width: 2;
}
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}
