body {
    padding: 50px;
    font: 14px "等线", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.rt-layer {
    width: 150px;
    height: 120px;
    font-size: 30px;
    background-color: #eee;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 4px #ddd;
    margin: 20px;
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
}
#rt-temp-label, #rt-humidity-label {
    display: block;
}
#rt-temp, #rt-humidity {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}
#rt-time-layer {
    margin-left: 20px;
    font-size: 22px;
}

.chart {
    margin: 20px;
    width: 940px;
    height: 400px;
    border: 1px solid #000;
}

